*.wav
ccmixter_corpus/**
!ccmixter_corpus/.gitkeep
test_music/npy
.vscode/
.ipynb_checkpoints/
raw/
input_24k/
src/__pycache__/
src/.ipynb_checkpoints/
training_24k_center/
pre_training_24k_center/
model_data_24k_center/
test_music/predictions/*.wav

test_music/originals/*.webm
test_music/originals/Paper_Navy_-_08_-_Swan_Song.mp3
test_music/originals/tarida_-_I_ll_Wait_1.mp3
test_music/originals/tobias_weber_-_Chance_Encounter.mp3
test_music/originals/US_Girls_-_The_Island_Song.mp3

diagrams/*.mp3
diagrams/*.wav